.tabbar{
    margin-top: 200px;
    margin-left: 50px;
}
.tabbar a{
    color: rgb(218, 210, 210);

}

input:hover{
    border: 1px solid #e6545f;
    border-radius: 0%;
}
.submit_button{
    border: 2px solid rgb(175, 172, 172);
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: #e6545f;
}

.submit_button:hover{
    background-color: #e6545f;
    color: #ffffff;
}
.checkBox label{
    color: #c4b5b5;
}
.forgot a{
    color: rgb(177, 172, 172);
}